@{
    ViewBag.Title = "Friends";
    ViewBag.pageID = Munchkin_Online.Core.PageID.PAGE_FRIENDS;
}

<h1>Friends</h1>
<div id="friend-list-container">
</div>
<input id="friend-search" type="text" placeholder="Nickname">