@using Munchkin_Online.Models
@model HashSet<Munchkin_Online.Models.User>

@if (Model.Count != 0)
{
    foreach (User friend in Model)
    {
        <p @(friend.State == State.Offline ? "class=offline" : "") data-id="@friend.Id">@friend.Nickname</p>
    }
}
else
{
    <p>No friends</p>
    <p>Cry</p>
}