@{
    ViewBag.Title = "Find";
    ViewBag.pageID = Munchkin_Online.Core.PageID.PAGE_FIND_GAME;
}
<script>
    var currAction = 'FindMatch';
</script>
<div id="find"></div>
<h2 id="message">Find</h2>
