@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link href="/Content/css/game.css" rel="stylesheet">
        <link href="/Content/css/jquery-ui.structure.css" rel="stylesheet">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/game")
        @Scripts.Render("~/js/Longpool")
        <meta charset="utf-8">
    </head>
    <body>
        <div class="player-hand top">
            <div class="stack">
            </div>
        </div>
        <div class="player-hand left">
            <div class="stack">
            </div>
        </div>
        <div class="player-hand right">
            <div class="stack">
            </div>
        </div>
        <div class="player-hand fixed bottom">
            <div class="stack">

            </div>
        </div>
        <div class="player-hand bottom">
            <div class="card-mgr">
                <div>
                    <div class="race-group">
                        <div class="card-slot race-combo" data-accept-class="race-combo">
                        </div>
                        <div class="card-slot race-one" data-accept-class="race">
                        </div>
                        <div class="card-slot race-two" data-accept-class="race">
                        </div>
                    </div>
                    <div class="class-group">
                        <div class="card-slot class-combo" data-accept-class="class-combo">
                        </div>
                        <div class="card-slot class-one" data-accept-class="class">
                        </div>
                        <div class="card-slot class-two" data-accept-class="class">
                        </div>
                    </div>
                </div>
                <div class="line-two">
                    <div class="items-group">
                        <div class="card-slot" data-accept-class="head">
                        </div>
                        <div class="card-slot" data-accept-class="body">
                        </div>
                        <div class="card-slot" data-accept-class="legs">
                        </div>
                    </div>
                    <div class="weapons-group">
                        <div class="card-slot" data-accept-class="weapon-2h">
                        </div>
                        <div class="card-slot" data-accept-class="weapon-1h">
                        </div>
                        <div class="card-slot" data-accept-class="weapon-1h">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="player top">
                <div class="card-mgr small">
                    <div>
                        <div class="race-group">
                            <div class="card-slot race-combo" data-accept-class="race-combo">
                            </div>
                            <div class="card-slot race-one" data-accept-class="race">
                            </div>
                            <div class="card-slot race-two" data-accept-class="race">
                            </div>
                        </div>
                        <div class="class-group">
                            <div class="card-slot class-combo" data-accept-class="class-combo">
                            </div>
                            <div class="card-slot class-one" data-accept-class="class">
                            </div>
                            <div class="card-slot class-two" data-accept-class="class">
                            </div>
                        </div>
                    </div>
                    <div class="line-two">
                        <div class="items-group">
                            <div class="card-slot" data-accept-class="head">
                            </div>
                            <div class="card-slot" data-accept-class="body">
                            </div>
                            <div class="card-slot" data-accept-class="legs">
                            </div>
                        </div>
                        <div class="weapons-group">
                            <div class="card-slot" data-accept-class="weapon-2h">
                            </div>
                            <div class="card-slot" data-accept-class="weapon-1h">
                            </div>
                            <div class="card-slot" data-accept-class="weapon-1h">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
            </div>
            <div class="player left">
                <div class="card-mgr small">
                    <div>
                        <div class="race-group">
                            <div class="card-slot race-combo" data-accept-class="race-combo">
                            </div>
                            <div class="card-slot race-one" data-accept-class="race">
                            </div>
                            <div class="card-slot race-two" data-accept-class="race">
                            </div>
                        </div>
                        <div class="class-group">
                            <div class="card-slot class-combo" data-accept-class="class-combo">
                            </div>
                            <div class="card-slot class-one" data-accept-class="class">
                            </div>
                            <div class="card-slot class-two" data-accept-class="class">
                            </div>
                        </div>
                    </div>
                    <div class="line-two">
                        <div class="items-group">
                            <div class="card-slot" data-accept-class="head">
                            </div>
                            <div class="card-slot" data-accept-class="body">
                            </div>
                            <div class="card-slot" data-accept-class="legs">
                            </div>
                        </div>
                        <div class="weapons-group">
                            <div class="card-slot" data-accept-class="weapon-2h">
                            </div>
                            <div class="card-slot" data-accept-class="weapon-1h">
                            </div>
                            <div class="card-slot" data-accept-class="weapon-1h">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="player right">
                <div class="card-mgr small">
                    <div>
                        <div class="race-group">
                            <div class="card-slot race-combo" data-accept-class="race-combo">
                            </div>
                            <div class="card-slot race-one" data-accept-class="race">
                            </div>
                            <div class="card-slot race-two" data-accept-class="race">
                            </div>
                        </div>
                        <div class="class-group">
                            <div class="card-slot class-combo" data-accept-class="class-combo">
                            </div>
                            <div class="card-slot class-one" data-accept-class="class">
                            </div>
                            <div class="card-slot class-two" data-accept-class="class">
                            </div>
                        </div>
                    </div>
                    <div class="line-two">
                        <div class="items-group">
                            <div class="card-slot" data-accept-class="head">
                            </div>
                            <div class="card-slot" data-accept-class="body">
                            </div>
                            <div class="card-slot" data-accept-class="legs">
                            </div>
                        </div>
                        <div class="weapons-group">
                            <div class="card-slot" data-accept-class="weapon-2h">
                            </div>
                            <div class="card-slot" data-accept-class="weapon-1h">
                            </div>
                            <div class="card-slot" data-accept-class="weapon-1h">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button escape">Escape!</div>
            <div class="button finish-turn">Finish turn!</div>
        </div>
        <div class="deck door">
        </div>
        <div class="deck treasure">
        </div>
        <div id="blackout" class="blackout"></div>
        <div id="freeze-bg" class="blackout"></div>
        <div id="hint" class="drag"></div>
        <div id="popup-container"><figure class="back"></figure><figure class="face"></figure></div>
        <div id="turn-step" class="over-msg">Ваш ход!</div>
        <div id="message" class="over-msg">ПОТРАЧЕНО!</div>
    </body>
</html>
