@{
    ViewBag.Title = "Index";
}

<p>Welcome to the place where everyone can stab you!</p>
<p class="small">Here is the easiest way to set your ass on fire!</p>
<img src="img/tutorial.png" usemap="#Tutorial"/>
<map name="Tutorial">
    <area shape="circle" coords="252,57,52" href="">
    <area shape="circle" coords="574,115,52" href="">
    <area shape="circle" coords="277,245,53" href="">
</map>
