HTML, BODY { height: 100%; margin: 0; padding: 0; }

BODY
{
    background: url(/Content/img/game-bg.jpg) no-repeat top center fixed black;
    background-size: 1380px;
    -webkit-perspective: 800;
    perspective: 800px;
    overflow: hidden;
}

.player-hand
{
    width: 600px;
    height: 130px;
    position: fixed;

    transition: all ease 0.5s;
}

.player-hand.left
{
    transform: rotate(90deg);
    left: -176px;
    top: 100px;
    margin: 0 0 0 -123px;
}

.player-hand.right
{
    transform: rotate(-90deg);
    right: -176px;
    top: 100px;
    margin: 0 -123px 0 0;
}

.player-hand.top
{
    transform: rotate(180deg);
    top: -100px;
    margin: 0 0 0 -300px;
    left: 50%;
}

.player-hand.bottom
{
    bottom: -176px;
    margin: 0 0 0 -300px;
    left: calc(50% + 307px);
    width: 910px;
    height: 272px;
    z-index: 8999;
}

.player-hand.bottom:not(.fixed)
{
    z-index: 8998;
}

.player-hand.bottom:hover, .player-hand.bottom.pinned
{
    bottom: 0;
}

.player-hand.bottom.fixed:hover, .player-hand.bottom.fixed
{
    left: 50%;
    bottom: -176px;
    width: 300px;
}

.player-hand .stack
{
    height: 130px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    letter-spacing: -4px;
}

.player-hand.bottom .stack
{
    display: inline-block;
    bottom: 176px;
}

.player-hand .stack .card
{
    margin-right: -100px;
}

.card-mgr
{
    background: url("/Content/img/card-mgr-bg.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 600px;
    height: 280px;
    -webkit-filter: drop-shadow(0 0 10px black);
    filter: drop-shadow(0 0 10px black);
    display: inline-block;
}

.card-mgr.small
{
    width: 300px;
    height: 140px;
}

.card-mgr.small .card
{
    height: 61px;
    width: 39px;
    border-radius: 5px;
}

.card-mgr.small .card-slot
{
    height: 59px;
    width: 38px;
}

.card-mgr .card-slot
{
    height: 122px;
    width: 76px;
    display: inline-block;

    border-radius: 10px;
    border: 1px dashed;
    -webkit-transition: box-shadow, 0.2s, ease;
    -moz-transition: box-shadow, 0.2s, ease;
    -ms-transition: box-shadow, 0.2s, ease;
    -o-transition: box-shadow, 0.2s, ease;
    transition: box-shadow, 0.2s, ease;
}

.draggable-accept
{
    box-shadow: 0 0 6px 4px rgba(145, 255, 47, 0.3);
}

.draggable-hover
{
    box-shadow: 0 0 6px 4px rgb(145, 255, 47);
}

.card-mgr .card-slot SPAN
{
    position: absolute;
    text-align: center;
}

.card-mgr .race-group, .card-mgr .class-group
{
    display: inline-block;
    width: 164px;
}

.card-mgr .class-group, .card-mgr .weapons-group
{
    float: right;
}

.card-mgr .line-two
{
    margin-top: 20px;
}

.card-mgr .items-group, .weapons-group
{
    display: inline-block;
    width: 248px;
}

.card-mgr .race-combo, .card-mgr .class-combo
{
    position: absolute;
    margin-left: 42px;
}

.card-mgr .race-one, .card-mgr .race-two, .card-mgr .class-one, .card-mgr .class-two
{
    top: 20px;
    position: relative;
}

.card-mgr.small .race-group, .card-mgr.small .class-group
{
    width: 84px;
    height: 66px;
}

.card-mgr.small .race-combo, .card-mgr.small .class-combo
{
    margin-left: 22px;
}

.card-mgr.small .items-group, .card-mgr.small .weapons-group
{
    width: 128px;
}

.card-mgr.small .race-one, .card-mgr.small .race-two, .card-mgr.small .class-one, .card-mgr.small .class-two
{
    top: 10px;
}

.card-mgr.small .line-two
{
    margin-top: 10px;
}

.card-slot .card
{
    margin-top: -1px;
    margin-left: -1px;
}

/*first in stack*/
.card:last-child
{
    margin-right: 0;
}

.deck
{
    height: 124px;
    width: 80px;

    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 0;

    transition: all ease 0.2s;
    background: url(/Content/img/card_backs.png);
    background-size: 161px;

    box-shadow: 0 0 10px, 3px 3px 1px hsl(19, 100%, 8%),6px 6px 0px hsl(19, 100%, 4%), 9px 9px 10px;

    cursor: pointer;
}

.deck:active
{
    transition: all 0.2s ease;
    left: 4px;
    top: 4px;
    box-shadow: 2px 2px 0px hsl(19, 100%, 4%), 5px 5px 10px;
}

.card
{
    height: 124px;
    width: 80px;

    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 0;

    transition: all ease 0.2s, transform ease 1s;

    box-shadow: 0 0 10px;

    transform-style: preserve-3d;
    cursor: pointer;
}

.card .back, .card .face
{
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    display: block;

    background: url(/Content/img/card_backs.png);
    background-size: calc(200% + 2px);
    backface-visibility: hidden;
}

.card .face
{
    transform: rotateY(180deg);
    background-position: top right;
}

.card.plutonium-dragon .face
{
    background: url(/Content/img/card.png);
    background-size: cover;
}

.card.flipped
{
    transform: rotateY(180deg);
}

.card:hover
{
    top: -10px;
}

.card.treasure .back, .deck.treasure
{
    background-position: top right;
}

.card.door .back, .deck.door
{
    background-position: top left;
}

.card.disabled, .card.disalbed:hover
{
    top: 0px;
    cursor: default;
}

.card.treasure.disabled .back, .deck.treasure.disabled
{
    background-position: bottom right;
}

.card.door.disabled .back, .deck.door.disabled
{
    background-position: bottom left;
}

.field
{
    height: 280px;
    width: 600px;
    padding-top: 70px;
    margin: auto;
}

.field .player, .field .table
{
    position: relative;
    width: 300px;
    height: 142px;
}

.field .player.top, .field .table
{
    margin-left: 141px;
}

.field .table
{
    border-radius: 10px;
    height: 200px;
    margin-bottom: -200px;
    text-align: center;
}

.field .player.left
{
    transform: rotate(90deg);
    left: -179px;
    top: -63px;
}

.field .player.right
{
    transform: rotate(-90deg);
    right: -463px;
    top: -203px;
}

#blackout
{
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#000000',GradientType=1 );
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
    display: none;
}

#popup-container
{
    position: fixed;
    top: calc(50% - 255px / 2);
    left: calc(50% - 164px / 2);
    z-index: 9001;
    height: 254px;
    width: 164px;
    display: none;
    transition: none;
    border-radius: 15px;
    overflow: visible!important;
}

#hint
{
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
    transition: all ease 0.2s;
}

#hint.deck_click
{
    background: url(/Content/img/hint-deck.png) no-repeat 0px 160px;
}

#hint.drag
{
    background: url(/Content/img/hint-drag-1.png) bottom center no-repeat, url(/Content/img/hint-drag-2.png) center 204px no-repeat;
}

#hint.equip
{
    background: url(/Content/img/hint-equip.png) calc(50% - 10px) bottom no-repeat;
}