* { outline: none; }
A { text-decoration: none; }

HTML, BODY
{
    margin: 0;
    padding: 0;
}

BODY
{
    background: url(/Content/img/main.jpg) 50% 114px no-repeat;
}

HEADER
{
    height: 90px;
    padding: 10px;
    display: table;
    width: 990px;
    margin: auto;
}

HEADER > H1
{
    display: table-cell;
    vertical-align: middle;
}

HEADER > .moto
{
    display: table-cell;
    margin-right: 100px;
    vertical-align: middle;
}

HEADER > .auth-bar-container
{
    display: table-cell;
    vertical-align: middle;
}

HEADER .friends, HEADER .auth
{
    width: 110px;
    position: absolute;
    margin-left: 65px;
    margin-top: -33px;
}

HEADER .auth .container
{
    padding: 10px 30px 0 30px;
    background: url(/Content/img/login.png) 50% 0% no-repeat;
    width: 110px;
    height: 84px;
    text-align: center;
}

HEADER .auth .container INPUT
{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 110px;
    color: white;
    text-align: center;
    margin-bottom: 11px;
}

HEADER .auth .container A
{
    color: black;
    font-family: 'Windlass';
    font-size: 14px;
}

HEADER .auth .container A:hover
{
}

HEADER .friends .container
{
    padding: 10px 30px 0 30px;
    background: url(/Content/img/friends.png) 50% 0% no-repeat;
    width: 110px;
    padding-bottom: 10px;
}

HEADER .friends P
{
    margin: 0 0 8px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-family: 'Windlass';
    font-size: 12px;
}

HEADER .friends P.offline
{
    color: gray;
}

HEADER .control
{
    background: url(/Content/img/friends-control.png) 50% 100% no-repeat;
    width: 170px;
    height: 34px;
    margin-top: -19px;
    cursor: pointer;
}

HEADER .control.down
{
    background-position: 100% 0%;
}

HEADER .auth-bar
{
    background: url(/Content/img/authbar-ribbon.png) no-repeat;
    max-width: 300px;
    width: 300px;
    margin-right: -200px;
    text-align: center;
    height: 49px;
    padding-top: 10px;
    font-family: 'Windlass';
    font-size: 12px;
}

HEADER .auth-bar > A
{
    color: black;
}

.wrapper
{
    width: 990px;
    margin: auto;
}

.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nav
{
    list-style: none;
    padding: 0;
    margin: 90px 0 10px 46px;
    font-family: 'Windlass';
    font-size: 14px;
}

.nav > LI
{
    min-height: 66px;
    max-width: 160px;
}

.nav > LI > A
{
    display: block;
    color: black;
    padding: 23px 40px 23px 15px;
    background: url(/Content/img/tab.png) 0% 0%;
    text-align: center;
}

 .nav .current, .nav .current:hover
{
    background: url(/Content/img/tab-current.png);
    padding-top: 30px;
    padding-left: 45px;
    margin-left: -9px;
    font-weight: 600;
}

.nav > LI > A:hover
{
    background-position: 0% 66px;
}

ASIDE
{
    float: left;
    width: 200px;
}

.main-block
{
    float: left;
    width: 680px;
    height: 380px;
    margin: 100px 80px 100px 20px;
    overflow-y: auto;
    font-family: 'Windlass';
}

.main-block > P
{
    margin: 5px 0 5px 0;
}

.main-block > P:first-letter
{
    color: red;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}

.main-block > P.small, .main-block > P.small::first-letter
{
    margin: 0;
    font-size: 14px;
    color: inherit;
    font-weight: 400;
}

FOOTER {
    clear: both;
    height: 60px;
    padding-top: 30px;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}

FOOTER > .small
{
    color: gray;
    font-size: 12px;
}

@font-face {
    font-family: 'Windlass';
    src: url(/Content/fonts/Windlass.ttf);
}

.notification
{
    background: url(/Content/img/notification.png) 50% 100% no-repeat;
    width: 200px;
    height: 100px;
    position: fixed;
    bottom: -200px;
    right: 0;
    padding: 25px 50px 25px 55px;
    -webkit-filter : drop-shadow(0px 0px 10px black);
    z-index: 999;
}

.notification.anim
{
    background: none;
    padding: 0;
    width: 300px;
    height: 150px;
    text-align: center;
    letter-spacing: -4px;
}

.notification > P
{
    text-align: center;
    font-family: 'Windlass';
}

.notification.anim > P
{
    display: none;
}

.notification > .scroll
{
    background: url(/Content/img/notification.png) no-repeat;
    width: 55px;
    height: 150px;
    display: inline-block;
    margin: 0;
}

.notification > .scroll.center
{
    background-position: 50% 100%;
    width: 0;
}

.notification > .scroll.right
{
    background-position: 100% 100%;
}