HTML, BODY
{
    margin: 0;
    padding: 0;
}

BODY
{
    background: url(/Content/img/main.jpg) 50% 114px no-repeat;
}

HEADER
{
    height: 90px;
    padding: 10px;
    display: table;
    width: 990px;
    margin: auto;
}

HEADER > H1
{
    display: table-cell;
    vertical-align: middle;
}

HEADER > .moto
{
    display: table-cell;
    margin-right: 100px;
    vertical-align: middle;
}

HEADER > .auth-bar-container
{
    display: table-cell;
    vertical-align: middle;
}

HEADER .auth-bar
{
    background: url(/Content/img/authbar-ribbon.png) no-repeat;
    max-width: 300px;
    width: 300px;
    margin-right: -200px;
    text-align: center;
    height: 49px;
    padding-top: 10px;
    font-family: 'Windlass';
    font-size: 12px;
}

HEADER .auth-bar > A
{
    color: black;
}

.wrapper
{
    width: 990px;
    margin: auto;
}

.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nav
{
    list-style: none;
    padding: 0;
    margin: 90px 0 10px 46px;
    font-family: 'Windlass';
    font-size: 14px;
}

.nav > LI
{
    min-height: 66px;
    max-width: 160px;
}

.nav > LI > A
{
    display: block;
    text-decoration: none;
    color: black;
    padding: 23px 40px 23px 15px;
    background: url(/Content/img/tab.png) 0% 0%;
    text-align: center;
}

 .nav .current, .nav .current:hover
{
    background: url(/Content/img/tab-current.png);
    padding-top: 30px;
    padding-left: 45px;
    margin-left: -9px;
    font-weight: 600;
}

.nav > LI > A:hover
{
    background-position: 0% 66px;
}

ASIDE
{
    float: left;
    width: 200px;
}

.main-block
{
    float: left;
    width: 680px;
    height: 380px;
    margin: 100px 80px 100px 20px;
    overflow-y: auto;
    font-family: 'Windlass';
}

.main-block > P
{
    margin: 5px 0 5px 0;
}

.main-block > P:first-letter
{
    color: red;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}

.main-block > P.small, .main-block > P.small::first-letter
{
    margin: 0;
    font-size: 14px;
    color: inherit;
    font-weight: 400;
}

FOOTER {
    clear: both;
    height: 60px;
    padding-top: 30px;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}

FOOTER > .small
{
    color: gray;
    font-size: 12px;
}

@font-face {
    font-family: 'Windlass';
    src: url(/Content/fonts/Windlass.ttf);
}
