@model Munchkin_Online.Core.Matchmaking.MatchInvite

<div class="invite-container" id="@Model.Id">
    <h2>Lobby invite from @Model.InvitingUser.Nickname</h2>
    <div class="button-accept">Accept</div>
    <div class="button-deny">Deny</div>
</div>